body {
	font-family: 'Playfair Display', serif;
}

img {
	max-width: 100%;
}

legend {
	font-size: 1.2rem;
	font-family: 'Slabo 27px', serif;
}

input {
	box-sizing: border-box;
}

button {
	border: 1.3px solid black;
	font-size: 1.1rem;
}

textarea {
	box-sizing: border-box;
}

textarea:focus {
	background-color: azure;
}